modules = ["kotlin", "java", "openjdk-17", "java-17"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Android Build"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "android_app"

[[workflows.workflow]]
name = "Android Build"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd . && ./gradlew assembleDebug"

[[workflows.workflow]]
name = "android_app"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./gradlew installDebug && adb shell am start -n com.example.spacereservation/.LoginActivity"

[deployment]
run = ["sh", "-c", "cd . && ./gradlew assembleDebug"]
